{% assign artist = page.artist %}
{% assign title = page.title %}
{% assign album = page.album %}
{% assign related = page.related %}

<h1>{{title}}</h1>

<!-- background -->
{% assign pages_list = site.categories.music | where: "title", artist  %}
{% assign page_size = pages_list | size  %}

{% if page_size < 1 %}
  {% assign pages_list = site.categories.music | where: "title", title  %}
  {% assign page_size = pages_list | size  %}
{% endif %}

{% if page_size < 1 %}
  {% assign pages_list = site.categories.music | where: "title", album  %}
  {% assign page_size = pages_list | size  %}
{% endif %}

{% if page_size < 1 %}
  {% assign pages_list = site.categories.music | where: "title", related  %}
  {% assign page_size = pages_list | size  %}
{% endif %}

{% if page_size > 0 %}
    <h3>background</h3>
  {% include JB/pages_list %}
{% endif %}
<br>

<!-- audio/video -->
 {% if (page.video | size) > 0 %}
 
      <div class="videoWrapper">
      <iframe width="auto" height="auto" src="https://www.youtube.com/embed/{{page.video}}" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen modestbranding rel="0" showinfo="0" theme="light">
      </iframe>
      <br>
      </div>
      <span class='videomain-desc'>
      {{page.videotext}}
      </span>
      <br>

  {% elsif (page.vimeo | size ) > 0 %}
      <div class="videoWrapper left">
    <iframe src="https://player.vimeo.com/video/{{page.vimeo}}" width="500" height="270" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
       <br>
       <span class='videomain-desc'>
      {{page.vimeotext}}
      </span>
      </div>
      
      <br>
{% endif %} 

{% if (page.soundcloud | size) > 0 %}
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{page.soundcloud}}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=false&amp;show_reposts=false&amp;"></iframe>  
<br>
{% endif %}



<!-- content -->

<div class="row post-full">
  <div class="col-xs-12">
    <div class="content">
      <div class='lyrics'>


      <!-- metadata -->
      {% if (album | size) > 0 %}
        <h3 class='lyrics'>album: {{album}}</h3>
      {% endif %}
      {% if (page.band | size) > 0 and page.band != "Various" %}
        <h3 class='lyrics'>band: {{page.band}}</h3>
      {% endif %}

      {% if (page.label | size) > 0 %}
        <h3 class='lyrics'>label: {{page.label}}</h3>
      {% endif %}
      {% if (page.publisher | size) > 0 %}
        <h3 class='lyrics'>publisher: {{page.publisher}}</h3>
      {% endif %}
      {% if (page.artist | size) > 0 %}
        <h3 class='lyrics'>artist: {{page.artist}}</h3>
      {% endif %}
      
      {% if (page.credits | size) > 0 %}
        <h3 class='lyrics'>credits: {{page.credits}}</h3>
      {% endif %}

      {% if (page.year | size) > 0 %}
        <h3 class='lyrics'>year: {{page.year}}</h3>
      {% endif %}

      <!-- about -->

       {% if (page.about | size) > 0 %}
       <h3>About</h3>
       <p><em>{{page.about}}</em></p>
       {% endif %}

        <!-- lyrics -->

      <h3>Lyrics</h3>

        {{ content }}

      </div>

      {% if (page.press | size) > 0 %}
      <h3>Press</h3>
       <blockquote> <p>{{page.press[0]}}, <em>{{page.press[1]}}</em></p></blockquote>
      {% endif %}

    </div>
  </div>
      
  <hr>
  <ul class="pagination">

  {% assign songs = (site.lyrics | sort: 'album') %}
  {% assign album = site.albumarray %}
  {% assign urls = site.urlarray %}

  {% for song in songs %}
    {% if song.artist == page.artist %}
        {% assign album = album | push: song.title %}
        {% assign urls = urls | push: song.url %}
    {% endif %}
  {% endfor %}

  {% unless (songs | size) == 1%}

    {% for title in album %}

      {% if forloop.first %}
        {% assign previndex = album | size | minus: 1 %}
        {% assign nextindex = forloop.index %}

      {% elsif forloop.last %}
        {% assign previndex = forloop.index | minus: 2 %}
        {% assign nextindex = 0 %}

      {% else %}
        {% assign previndex = forloop.index | minus: 2 %}
        {% assign nextindex = forloop.index %}
        
      {% endif %}

      {% assign previous = album[previndex] %}
      {% assign next = album[nextindex] %}

      {% if title == page.title %}
      <li class="previous"><a href="{{urls[previndex]}}" title="{{ previous}}">&laquo; {{ previous}}</a></li>
      <li><a href="/posts/music/2015-10-10-lyrics.html">Song Lyrics</a></li>
   
       <li class="next"><a href="{{urls[nextindex]}}" title="{{next}}">&raquo; {{ next}}</a></li>
      {% endif %}

    {% endfor %}

  {% endunless%}
  </ul>
        
</div>

